<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>商品一覧</h2>
        <table class="table">
          <thead>
            <tr>
            <th></th>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
            <td></td>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            </tr>
            <% end %>
        </tbody>
        </table>

        <%= link_to new_admin_item_path do %>
        新規登録
        <% end %>

        <%= paginate @items %>
      </div>
    </div>
  </div>


</main>