<div>
  <p class="text-center">
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員出ない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
  <h2 class="text-center">新着商品</h2>
    <div class="row">
      <% @items.each do |item| %>
      <div class="col-md">
        <% if item.image.attached? %>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "100x100" %><br>
          <% end %>
        <% else %>
          <%= link_to item_path(item.id) do %>
          <%= image_tag 'noimage', size: "100x100" %><br>
          <% end %>
      <% end %>
      <%= link_to item_path(item.id) do %>
        <%= item.name %><br>
      <% end %>
      <%= item.price %><br>
      </div>
      <% end %>
    </div>
      <%= paginate @items %>
  </div>
    <%= link_to items_path do %>
    全ての商品を見る>
    <% end %>
</div>