  <h2>
    <%= @customer.last_name %> <%= @customer.first_name %>
    さんの会員詳細
  </h2>
  <div class="row">
      会員ID <%= @customer.id %><br>
      氏名 <%= @customer.last_name %> <%= @customer.first_name %><br>
      フリガナ <%= @customer.last_name_kana %> <%= @customer.first_name_kana %><br>
      郵便番号 <%= @customer.postal_code %><br>
      電話番号 <%= @customer.telephone_number %><br>
      メールアドレス <%= @customer.email %><br>
      会員ステータス <%= @customer.is_deleted %><br>
  </div>
  <div class="row">
    <%= link_to edit_admin_customer_path(@customer.id), class:"btn btn-outline-secondary btn-block" do %>
    編集する
    <% end %>
  </div>
  <div class="row">
      <%= link_to root_path, class:"btn btn-outline-secondary btn-block" do %>
    注文履歴一覧を見る(rootパス)
    <% end %>
  </div>