
  <div class="col-md-8 offset-md-1">
    <h2>商品詳細</h2>
    <table class="table">
    <tbody>
      <tr>
        <td>
        <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "100x100" %>
        <% else %>
        <%= image_tag 'noimage', size: "100x100" %>
        <% end %>
        <br>
        <td><%= @item.name %></td>
        <td><%= @item.introduction %></td>
        <td><%= @item.price %></td>
      </tr>
    </tbody>
    </table>
  </div>

<p>カートに入れる</p>