
  <div class="col-md-8 offset-md-1">
  <h2><%= @item.name %></h2>
    <div>
      <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "100x100" %>
      <% else %>
      <%= image_tag 'noimage', size: "100x100" %>
      <% end %>
      <br>
      <p><%= @item.introduction %></p>
      <p>￥<%= @item.price %>（税抜）</p>

      <%= form_with url: cart_items_path, model: @cart_item do |f| %>
      <%= f.select :amount, *[1..5] %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "カートに入れる", class:"btn-success" %>
      <% end %>
  </div>