<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          LOGO
          <div>
            <ul>
              <li>
                <% link_to root_path %>
                <!--<i class="fas fa-home"></i>-->
                About
              </li>
              <li>
                <% link_to root_path %>
                <!--<i class="fas fa-home"></i>-->
                商品一覧
              </li>
              <li>
                <% link_to root_path %>
                <!--<i class="fas fa-home"></i>-->
                新規登録
              </li>
              <li>
                <% link_to root_path %>
                <!--<i class="fas fa-home"></i>-->
                ログイン
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
